*
!.dockerignore
!CMakeLists.txt
!cmake/
!cmake/**
!include/
!include/**
!proto/
!proto/**
!src/
!src/**
!third_party/
!third_party/**
!examples/tutorials/
!examples/tutorials/**
!scripts/
!scripts/bootstrap_tutorial_contextforge.sh
!scripts/init_tutorial_contextforge_runtime.sh
!scripts/verify_tutorial_contextforge.sh
